.container {
  height: 100px;
  width: 100px;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.aborder {
  border: 3px #f00;
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.aborder:hover {
  border: 1px solid #fff;
}
.card-1 {
  height: 100%;
  width: 100%;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("./assets/surajbhan.jpg") center center no-repeat;
  background-size: 300px;
  background-size: cover;
}
.card0:hover {
  background: url("./assets/surajbhan.jpg") left center no-repeat;
  background-size: 600px;
  border: 2px solid #000;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media all and (min-width:374px) and (max-width:415px){

  .aborder{


  }
  .card-1{
    height: 100%;
  }

}