body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#F5EAEA;
    

    
  }
*{
  box-sizing: border-box;
}
/* Hide the default scroll bar */
body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #aa4f05;
}





  main{

    width: 100%;

   /* max-width: 1200px;  */

  }

  
  
  
  
  .left-sidebar{
  
      /* border: 3px solid red; */
      width:250px;
      max-width:320px ;
      height:100vh;
      /* background-color: DC5F00; */
      background-color: #FFB84C;
      position: fixed;
      left: 0;
      top: 0;
      padding: 10px;
  
  }
  
  .profileWrapper{
    /* border: 2px solid green; */
    height: 27vh;
  }
  .profile-picture{
      border: 4px solid #ec7009;
      border-radius: 50%;
      position:fixed;
      width: 200px;
      max-width: 280px;
      height: 200px;
      max-height: 280px;

      left :24px;
      right:100px;
      top:1vh;
      margin-top: 0vh;
  }
  
  .profile-picture > img{
     
     border-radius: 50%;
  }

.profile-name{

   /* border: 2px solid black; */
   position: absolute;
   left: 0vw;
   top: 28vh;
   height: 25px;
   max-height: 30px;
   width: 300px;
   max-width: 320px;
   color: black;
   text-align: center;
   padding: 0px;
   font-size: 20px;
   font-weight: 700;
   max-width: 250px;
}

.fstack{
  /* border: 2px solid black; */
  position: absolute;
  left: 0;
  top: 32vh;
  height: 3vh;
  width: 240px;
  max-width: 320px;

  max-width: 320px;
  color: #aa4f05;
  text-align: center;
  padding: 0px;
  font-size: 15px;
  font-weight: 600;
}


.social{
  border-bottom: 2px solid #aa4f05;
  position: absolute;
  left: 0;

  top: 38vh;
  height: 4vh;
  width: 240px;
  max-width: 320px;

  color: black;
  padding: 0px;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.social > div{
  
  /* border: 2px solid green; */
  width: auto;
  height: 100%;

}



.age-info{
  border-bottom: 2px solid #aa4f05;
  position: absolute;
  left: 0;
  top: 43vh;
  height: 15vh;
  width: 240px;
  max-width: 320px;
  color: black;
  padding: 0px; 
}

.age-info >.age-1{
  display: flex;
  justify-content: space-between;

}
.age-info >.age-1 > div{
  margin: 5px;
}



.git-hub-repo{
  border-bottom: 2px solid #aa4f05;
  
  position: absolute;
  left: 0;
  top: 59vh;
  height: auto;
  width: 240px;
  color: black;
  padding: 0px; 
 

}

.git-hub-repo > div> div a{

  text-decoration: none;
  color: black;
}
  
.git-hub-repo > div> div a:hover{

  text-decoration: none;
  color: blue;
}
  

.git-hub-repo > .git-hub-repo-1 >div{
  margin: 5px;
  /* border: 1px solid green; */

}


.certs-list{
  border-bottom: 2px solid #aa4f05;
  
  position: absolute;
  left: 0;
  top: 80vh;
  height: auto;
  width: 240px;
  color: black;
  padding: 0px; 
}




.certs-list > div> div a{

  text-decoration: none;
  color: black;
}


.certs-list > div> div a:hover{

  text-decoration: none;
  color: blue;
}
  

  
  
  .nav-link.home{
      /* border: 12px solid green; */
      background-color: #FFB84C;
      height: 100%;
      width: 80px;
      max-width: 80px;
      position: fixed;
      left: auto;
      top: 0;
      right: 0%;
      position: fixed;
  
  }
  
  
  @import url(https://fonts.googleapis.com/css?family=Montserrat);
  
  
  
  
  

  
  nav{
    /* border: 2px solid yellow; */
    width: 80%;
  }
  
   #menu-div{
        background-color: #FFB84C;
      /* border: 1px solid red; */
       text-align: left;
       height: auto;
       width: 80px;
       max-width: 80px;
       position: fixed;
       margin-top: 10vh;
       padding-bottom: 10vh;
       margin-left:0vw;
       border-radius: 15px;
      
  
  }
  #menu-div >div>a{
    text-decoration: none;
    color: white;
    
  }
  
  #menu-div>div{
      border: 3px solid #ec7009;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      margin-top: 30px;
      /* margin-left: 1.5vw; */
      padding: auto;
      margin: 1rem;
      background-color: #FFE6C7;
      
  }
  #menu-div>div img{
      width: 1.5rem;
      height: 1.5rem;
  }
  
  #menu-div>.home-img,.about-img,.skills-img,.projects-img,.work-img,.contact-img,#resume-button-1{
      margin-top:  50px;
  }
 


  

    
  
  
  
  
  #menu-div>.home-img img{
  
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  .nav-link.home #home-span{
    left: 1.8vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
  
  }

  .nav-link.home #about-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
  }


  .nav-link.home #skill-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
  }

  
  .nav-link.home #projects-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
  }

  .nav-link.home #contacts-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
  }

  .nav-link.home #resume-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1.5vh;
    /* border: 1px solid black; */
  }


  #menu-div>.about-img img{
  
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  
  
  #menu-div>.skills-img img{
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  
  #menu-div>.projects-img img{
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  #menu-div>.work-img img{
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  
  
  
  #menu-div>.contact-img img{
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  
  #menu-div>#resume-button-1 img{
      position: relative;
      left:10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
  }
  
  
  

  
  
  .profile-card{
    border: 3px solid #ec7009;
    width: 30%;
    height: 100%;
    border-radius: 12px;


  }


  .middle-portion-intro{
    /* border: 12px solid blueviolet; */
    position: absolute;
    width:72vw;
    height: 50vh;
    left: 20%;
    top: 0px;
    background-color: #FFB84C;
    border-radius: 0px 0px 12px 12px;
    }



  .home-div{
    height: 100%;
  
    /* border: 1px solid slateblue; */
    /* background-color: black; */
    display: flex;
justify-content: space-between;
 padding: 20px;
   
  }
  
  
  .home-div>div{
    height: auto;
    /* border: 1px solid burlywood; */

  }
  
  .home-info{
  
      /* border: 1px solid brown; */
      height: auto;
      margin-top: 0px;
      padding: 10px;
      
      
    }
    .home-info>.p_name{
      border-bottom: 6px solid #ec7009;
      /* height: 20%; */
      width: 20vw;
      margin-top: 0px;
      color: black;
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 10px;
      font-family:Arial, Helvetica, sans-serif;

    }
    #fsd{
      color:black;
      border-bottom: 6px solid  #ec7009;
      margin-top: 30px;
      font-size: 38px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      width: 30vw;
    }
    .home-info>.fs{
      border-bottom: 6px solid #ec7009;
      width: 50%;
      margin-left: 0px;
      margin-top: 0px;
    }
  
    .home-info> #resume-button-2{
      /* border: 2px solid greenyellow; */
      
      margin-top: 60px;
    }
  
  
  .home-details{
    /* border: 12px solid red; */
    width: 70%;
  }
  .home-div:hover .card0{
      background: url("./assets/surajbhan.jpg") left center no-repeat;
      background-size: 600px;
  }
    
  
  
  
  
  
  
  
  
  
  
  #about{
  
       /* border: 6px solid blue; */
       /* background-color: green; */
      position: absolute;
      width:72vw;
      height: auto;
      left: 20%;
      top: 60vh;
      border-radius: 12px 12px 12px 12px;
  }
  
  .about-content{
    /* border: 6px solid green; */
    background-color:#F5EAEA;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 12px 12px 12px 12px;
    
    
  }
  
  .about-content>div{
    /* border: 4px solid red; */
    width: 45%;
    padding:10px;
    /* border-radius: 12px; */
    background-color: #FFB84C;
    height: auto;
    font-size: 15px;
    line-height: 110%;
    
  
  }
 
  .homee-img img{
    border-radius: 6px;
  }
  
  
  .skills-sec{
    /* border: 1px solid red; */
    /* background-color: black; */
    position: absolute;
  width:72vw;

  height: auto;
  left: 20%;
  top: 130vh;
  }
  
  
  .skill-content{
/*   
       border: 2px solid blue; */
      
       height: auto;
       display: flex;
       justify-content: space-between;
       padding: 20px;
       background-color:#F5EAEA;
       border-radius: 12px;
  
  }
  
  .skill-content>div{
  
     /* border: 1px solid  yellowgreen; */
     height: 300px;
     width: 30%;
     margin-top: 0px;
     background-color: #FFB84C;
  }


  .skill-content .sdiv .card{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  
  .skill-content .sdiv .card:hover {
    background: #FFE6C7;
    color: #8b2202;
  }
  
  .skill-content .sdiv .card .box {
    transition: all 0.3s ease;
  }


  .skill-content .sdiv .card:hover .box {
    transform: scale(1.05);
  }
  
  .skill-content .sdiv  .card i {
    font-size: 50px;
    color: black;
    transition: color 0.3s ease;
  }

  .skill-content .sdiv  .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }
  




  .s-content .card{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }

    
  .s-content .card:hover {
    background: #ec7009;
    color: #fff;
  }
  
  .s-content  .card .box {
    transition: all 0.3s ease;
  }


  .s-content .sdiv .card:hover .box {
    transform: scale(1.05);
  }
  
  .s-content .sdiv  .card i {
    font-size: 50px;
    color: black;
    transition: color 0.3s ease;
  }

  .s-content .sdiv  .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }
  

  
  
  
  .project{
  
    /* border: 2px solid rgb(230, 95, 17); */
    background-color: #F5EAEA;
    position: absolute;
  width:72vw;
  height: auto;
  left: 20%;
  top: 320vh;
  }

  .carousel{
    height: 70%;
    padding: 10px;
  }

.carousel> div{
  background-color: white;
  height: 30%;
  /* border: 2px solid red; */
  margin: 20px;
  

}

  
  .rside>.work{
  
    /* border: 1px solid rgb(230, 95, 17); */
    margin-top: 0px;
    background-color: rgb(0, 255, 55);
    height: 400px;
    width: 80%;
    margin-left: 20%;
  }

  
  
  
  .style-container {
    display: flex;
    height: 50px;
    align-items:center;
    margin-top: 0px;
  
    
  }
  
 .style-container> svg {
      display: block;
      font: 6.5em 'Montserrat';
      width: 400px;
      height: 150px;
      margin: 0;
      margin-top: 0;
      margin-bottom: 50px;
      margin-left: -45px;
  }
  
  .text-copy {
      fill: none;
      stroke:black;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: black;
      animation-delay: -1;
  } 
  
   .text-copy:nth-child(2){
      stroke: black;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: black;
      animation-delay: -3s;
  } 
  
  .text-copy:nth-child(4){
      stroke:black;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: black;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
  }
  
  

  #skills{
    /* border: 2px solid blueviolet; */
    position: absolute;
    width:72vw;
    height: auto;
    left: 20%;
    top: 200vh;
  }

.skills-content{
  /* border: 2px solid green; */
  background-color:#F5EAEA;
  display: flex;
  justify-content: space-between;
  height: auto;
  border-radius: 12px;

}

.skills-content> div{
  width: 48%;
  /* border: 2px solid red; */
  background-color: #FFB84C;

}



  .stat{
    /* border: 2px solid red; */
    /* background-color: black; */
    position: absolute;
    width:72vw;
    height: 400px;
    left: 20%;
    top: 265vh;
  }

  .s-content{
    display: flex;
    justify-content: space-between;
    color:black;
    background-color: #F5EAEA;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    
    
  }

  .s-content> .card{
     width: 30%;
     background-color: #FFB84C;
     
  }

  

  .react-activity-calendar{


    /* border: 2px solid red; */
    background-color: #F5EAEA;
    position: absolute;
    width:72vw;
    height: auto;
    left: 20%;
    top: 395vh;
    

  }



  .container-gitstat{
    
    background-color: #FFB84C;
    border-radius: 12px;

   
   
}







  #contact{

    /* border: 2px solid red; */
    background-color: #F5EAEA;
    position: absolute;
    width:72vw;
    height: auto;
    left: 20%;
    top: 485vh;

  }



  #about-title{
    font-size: 10px;
    text-align: center;
    margin-top: 0px;
    color: red;
  }
  

  #about-heading{
    /* background-color: #FFA559; */
    /* border-radius: 12px; */
    
    background-color:#F5EAEA;
    border-radius: 12px;
     margin-bottom: 40px;
  }

  #skills-heading{
    /* border: 1px solid brown; */

    background-color:#F5EAEA;
    border-radius: 12px;
    /* border: 2px solid black; */
    margin-bottom: 40px;


  }

  #git-heading{
    
    background-color:#F5EAEA;
    margin-bottom: 40px;
    border-radius: 12px;
    left: 20%;


  }
  #contact-heading{
 
  width:100%;
  height: auto;
  left: 20%;
   margin-bottom: 40px;
   border-radius: 12px;

 
  
    background-color: #F5EAEA;
    /* text-align: center; */
  }
  
 
  
  
  #techstack-heading{

  height: auto;
 
    background-color:#F5EAEA;
    border-radius: 12px;
    margin-bottom: 40px;
    /* text-align: center; */ 
  }


  #stat-heading{

    height: auto;
    margin-bottom: 40px;
    border-radius: 12px;
   
      background-color:#F5EAEA;
    }

  
  
  #project-heading{
 
  height: auto;

    background-color: #F5EAEA;
    border-radius: 12px;
    margin-bottom: 40px;
  }
  

  


  .columnLeft{
     padding: 10px;
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    border-radius: 12px;


  }





  .columnRight{
    background-color: black;
    padding: 10px;
   display: grid;

   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
   grid-gap: 10px;
 border-radius: 12px;

 }
 .skills-card-img{
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 0.5px solid gray;
 }
 .skills-card{
  /* border: 1px solid red; */
  background-color: black;
  color: white;
  border-radius: 12px;
 }
.skills-card > h4{
  margin-left: 10px;
}
 

   .regular{
     
     /* border: 1px solid aqua; */
     width: 100%;
     background-color: #F5EAEA;
     display: flex;
     border-radius: 12px;
    
   }
   .regular .git-card{

        border: 2px ;
        padding: 10px;
        width: 100%;
        height: 200px;
    
   }
  



  .cch{
   width: 80%;
    margin-left: 20%; 
  }
  
  
  #about-info,#skills-info,#project-info,#contact-info,#techstack-info,#git-info,#stat-info{
      text-transform: uppercase;
      letter-spacing: .5em;
      /* font-size: 25px; */
      display: inline-block;
      /* border: 4px double rgba(255,255,255,.25); */
      border-width: 4px 0;
      padding: 1.5em 0em;
      position: relative;
      top: 18%;
      left: 50%;
      width: 20em;
      margin: 0 0 0 -10em;
      background-color: #F5EAEA;
      border-radius: 12px;
  }
    
    #about-info-span,#skills-info-span,#techstack-info-span,#project-info-span,#contact-info-span,#git-info-span,#stat-info-span{
  
        font: 700 2em/1 "Oswald", sans-serif;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;
        margin: 0 auto;
      margin-left: 25%;
        text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
        /* background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y; */
        background: #A459D1;
        -webkit-background-clip: text;
        background-clip: text;
  
  /* Animate Background Image */
  
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
  
    }
  
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
  }
  
  
  .custom-btn {
    width: 160px;
    height: 50px;
    color: black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 2 */
  .btn-2 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 45px;
    padding: 0px;
    border: none;
  }
  .btn-2 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-2:before,
  .btn-2:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-2:before{
     height: 0%;
     width: 2px;
  }
  .btn-2:after {
    width: 0%;
    height: 2px;
  }
  .btn-2:hover{
    color:black;
    background: transparent;
    background-color: #FFE6C7;
  }
  .btn-2:hover:before {
    height: 100%;
  }
  .btn-2:hover:after {
    width: 100%;
  }
  .btn-2 span:before,
  .btn-2 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
  }
  .btn-2 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-2 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-2 span:hover:before {
    height: 100%;
  }
  .btn-2 span:hover:after {
    width: 100%;
  }
  
  
  
  
  .contact-content{

     /* border: 12px solid red; */
     /* background-color: #FFE6C7; */
     display: flex;
     justify-content: space-between;
     height: 600px;
     padding: 20px;
     border: 12px;
     border-radius: 12px;
     flex-wrap: wrap;
  }
  .contact-content> div{
    width: 48%;
    padding: 20px;
    
  
  }

  
  .column.left{
    /* border: 1px solid green; */
    width: 48%;
    list-style: none;
    border-radius: 12px;
    height: auto;
  
  
  }
  .contact-content a{
    text-decoration: none;
    color: #aa4f05;
    
  }
  .contact-content > div{
    background-color: #FFB84C;
  }
  .column.left>.text{
     font-size: 26px;
     /* border: 2px solid blue; */
  }
  .column.left .icons{
    /* border: 1px solid goldenrod; */
    width: 45%;

    margin-top: -30px;
    height: 70%;;
  }

  .column.left .icons> div{

    /* border: 2px solid black; */
    width: 100%;
    /* height: 40px; */
    font-size: 20px;
    font-size: 20px;
    margin: 10px;
    
  }
  .column.left .row{
  
     display: flex;
     width: 40%;
    
  }
  .column.left .row>div{
    /* border: 2px solid green; */
    margin-left: 10%;
  }



  .fields{
    display: flex;
    justify-content: space-between;
  }
  .field> input{
    width: 100vw;
  }
 
  .field.textarea{
    width: 100vw;
  }
  .field.textarea> textarea{
     width: 100vw;
  }

  .column.right{
     /* border: 1px solid red; */
     height: auto;
     border-radius: 12px;


     
  }

  .column.right>.text{
    font-size: 26px;
    /* border: 2px solid blue; */
    margin-bottom: 20px;
 }

 .column.right.right .field.name input{

   border: 2px solid #aa4f05;
   /* padding: 20px; */
   width: 14vw;
   height: 50px;
   font-size: 20px;
   margin-bottom: 20px;
   border-radius: 12px;

 }


 .column.right .field.email input{

  border: 2px solid #aa4f05;
  /* padding: 20px; */
  width: 14vw;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.column.right .field.subject input{

  border: 2px solid #aa4f05;
  width: 31vw;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 12px;

   
}
 textarea{

   border: 2px solid #aa4f05;
   width: 31vw;
   margin-top: 10px;
   margin-bottom: 20px;
   font-size: 20px;
   border-radius: 12px;


}
.column.right .button-area button{

     margin-left: 0px;
     border:  2px solid #aa4f05;
     font-size: 20px;
     height: 50px;
     width: 150px;
     border-radius: 12px;
     background-color: #FFE6C7;
     

}
  
  
  
  #git-hub{
  
    border: 3px solid green;
    width: 80%;
    margin-left: 20%;
    background-color: black;
  
  }
  
  .contacts{
  
    border: 2px solid red;
  }
  

  






@media all and (min-width:1920px) and (max-width:2200){
  
}



@media all and (min-width: 769px) and (max-width: 991px) {
  /* CSS rules for screens between 768px and 991px */
}

